<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="onlinelibrarysystem" transaction-type="RESOURCE_LOCAL">

        <class>ke.hanan.onlinelibrarysystem.entity.Author</class>
        <class>ke.hanan.onlinelibrarysystem.entity.Publisher</class>
        <class>ke.hanan.onlinelibrarysystem.entity.Subject</class>
        <class>ke.hanan.onlinelibrarysystem.entity.Students</class>
        <class>ke.hanan.onlinelibrarysystem.entity.Admin</class>
        <class>ke.hanan.onlinelibrarysystem.entity.Book</class>
        <class>ke.hanan.onlinelibrarysystem.entity.JournalArticle</class>
        <class>ke.hanan.onlinelibrarysystem.entity.Otp</class>
        <class>ke.hanan.onlinelibrarysystem.entity.Librarians</class>
        <class>ke.hanan.onlinelibrarysystem.entity.WorkGroups</class>
        <class>ke.hanan.onlinelibrarysystem.entity.WorkGroupRoles</class>
        <class>ke.hanan.onlinelibrarysystem.entity.BookRequest</class>
    </persistence-unit>
</persistence>
